<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/logo.png" />
      </a>

    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://pypi.org/project/nso-applet-api" target="_blank"> API </a>
        <a class="navbar-item" href="https://github.com/MCMi460/NSO-IconDB" target="_blank"> Github </a>
      </div>
    </div>
  </div>
</nav>
